@import url('StyleRoot.css');

.image {
    width: var(--geral-value-90-px);
    height: var(--geral-value-90-px);
    filter: grayscale(var(--geral-value-80-per));
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-justify: distribute-center-last;
}

.box {
    width: var(--geral-value-90-px);
    height: var(--geral-value-90-px);
    background-color: #2ecc71;
}